
ul {
  display: flex;
  flex-direction: row;
  background-color: #26b9eb;
  margin-bottom: 10px;
  height: 50px;
  align-items: center;
}
ul li{
    margin-left: 40px;
    list-style: none;
}
footer {
  background-color: #26b9eb;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
